html,body {
	height: 100%;
	background-color: WHITE;
	padding: 0px;
	border: 0px;
	margin: 0px;
}
div#playerdiv
{
	top:10px;
	left: 40px;
	width: 100%;
	height: 80px;
	background-color: PINK;
}
div#contentpane{
	height : 100%;
	width : 800px;
	margin-left:auto;
	margin-right:auto;
	background-color: PURPLE;
}

div#playarea{
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	background-color: GREEN;
}

div#sourcearea{
	width:100%;
	height: 100px;
	background-color: ORANGE;
}

div#playarea{
	height: 100%;
	width: 100%;
	background-color: RED;
}
div#prototype{
	top:10px;
	left: 40px;
	width: 300px;
	height: 80px;
	background-color: PURPLE;
}
